
body{
    background-color:#9e8b8b;    
    line-height: 1;
   
}
.content{
    width: 800px;
    height: 980px;
    margin: auto;
    background-color: #3a2b2b;
    margin-top: 50px;
    border-radius: 4px;
    border-style: double;
}
h1{
    color: rgb(70, 33, 7);
    text-align: center;
    background-color: rgb(145, 126, 52);
}

h2{
    color: rgb(70, 33, 7);
    background-color: rgb(145, 126, 52);
    border: 1.5px  cornsilk;
}

p{
    font-size: medium;
    font-weight: 100;
    font-style: italic;
    color: cornsilk;
}
.mood{
    height: 300px;
    width: 300px;
}
li{
    color: cornsilk;
}
a{
    color: rgb(85, 25, 196);
}
  footer{
    color: cornsilk;
  }